/* .column {} */

.column img {
  width: 40px;
  height: 40px;
}

.column__title {
  font-size: 16px;
  font-weight: 700;
}

/* .column__list {} */

.column__item {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}