.footer {
  padding: 30px 15px;
  color: #FFFFFF;
  background: #484848;
}

.footer__wrapper {
  display: grid;
  gap: 30px;
}

.footer__columns {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.footer__imfo {
  display: grid;
  gap: 10px;
}

.footer__logo {
  width: 216px;
  height: 23px;
}

.footer__copy {
  font-size: 14px;
  font-weight: 400;
}

.footer__dev {
  margin: auto;
  width: 130px;
  height: 46px;
}


