/* care */

.care {
  padding: 30px 15px;
}

.care__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

/* .care__text {} */

.care__title {
  font-size: 26px;
  font-weight: 700;
}

.care__copy:first-of-type {
  margin-top: 20px;
}

.care__copy {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.care__image {
  height: 72vw;
  border: 1px solid #AAAAAA;
  border-radius: 20px;
  overflow: hidden;
}

.care__image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .care {
    padding: 30px 0;
  }
  
  .care__wrapper {
    width: 690px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .care__text {
    flex: 48%;
  }

  .care__title {
    font-size: 30px;
  }

  .care__copy {
    font-size: 14px;
  }

  .care__image {
    height: 34vw
  }
}

@media (min-width: 1152px) {
  .care {
    padding: 40px 0;
  }
  
  .care__wrapper {
    width: 930px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .care__text {
    flex: 48%;
  }

  .care__title {
    font-size: 34px;
  }

  .care__copy {
    font-size: 18px;
  }

  .care__image {
    height: 31vw
  }
}