/* clients */

.clients__wrapper {
  padding: 30px 15px;
}

.clients__brands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
}

/* .clients__brand {} */

@media (min-width: 1152px) {
  .clients {
    padding: 40px 0;
  }

  .clients__wrapper {
    width: 930px;
    margin: 0 auto;
  }

  .clients__brand {
    height: 9vh;
  }
}