/* clients */

.clients__wrapper {
  padding: 30px 15px;
}

.clients__brands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

// .clients__brand {} 

.clients__brand img {
  width: 23vh;
  height: 6vh;
  object-fit: cover;
}

@media (min-width: 1152px) {
  .clients__wrapper {
    width: 930px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .clients__brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
}