/* warranty */

.warranty {
  padding: 30px 15px; 
}

.warranty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* .warranty__text {} */

.warranty__title {
  font-size: 26px;
  font-weight: 700;

}

.warranty__copy:first-of-type {
  margin-top: 20px;
}

.warranty__copy {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.warranty__image {
  height: 72vw; 
  border: 1px solid #AAAAAA;
  border-radius: 20px;
  overflow: hidden;
}

.warranty__image img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1152px) {
  .warranty {
    padding: 40px 0;
  }

  .warranty__wrapper {
    width: 930px;
    margin: 0 auto;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
  }

  .warranty__text {
    flex: 445px;
  }

  .download__title {
    font-size: 42px;
  }

  .download__copy  {
    font-size: 18px;
  }

  .warranty__image {
    height: 31vw
  }
}