.root {
  &.light {
    // color:
    --color-title: #000000;
    --color-copy: #000000;

    // border-color:
    --border-primary: #AAAAAA ;
    --border-link-btn: #A6A6A6;
    --border-modal-btn: #222222;

    // bg-color: 
    --bg-primary: #FFFFFF;
    --bg-footer: #484848;
  }

  &.dark {
    --color-title: #FFFFFF;
    --color-copy: #FFFFFF;

    // border-color:
    --border-primary: #FFFFFF;
    --border-link-btn: #A6A6A6;
    --border-modal-btn: #222222; 

    // bg-color: 
    --bg-primary: #484848;
    --bg-footer: #484848;
  }
}