// main margins:

$main-padding: 30px 15px;

// fonts:

$title-size: 26px; 
$copy-size: 14px;

// rounding:

$rounding-image: 20px;
$rounding-btn: 30px;

// breakpoint:

$breakpoint-768: 768px;
$breakpoint-1152: 1152px;
$breakpoint-1440: 1440px;
 