/* care */

.care {
  padding: var(--section-padding-320);
  background: var(--bg-primary);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-size: var(--title-size-320);
    font-weight: 700;
    color: var(--color-title);
  }

  &__copy {
    margin-top: 10px;
    font-size: var(--copy-size-320);
    font-weight: 400;
    color: var(--color-copy);

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__image {
    height: 72vw;
    border: 1px solid var(--border-primary);
    border-radius: var(--rounding-image-320);
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}
