/* care */

.care {
  padding: $main-padding;
}

.care__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

/* .care__text {} */

.care__title {
  font-size: $title-size;
  font-weight: 700;
}

.care__copy:first-of-type {
  margin-top: 20px;
}

.care__copy {
  margin-top: 10px;
  font-size: $copy-size;
  font-weight: 400;
}

.care__image {
  height: 72vw;
  border: 1px solid #AAAAAA;
  border-radius: $rounding-image;
  overflow: hidden;
}

.care__image img {
  display: block;
  height: 100%;
  object-fit: cover;
}
