/* cashback */

.cashback {
  padding: var(--section-padding-320);

  &__title {
    font-size: var(--title-size-320);
    font-weight: 700;
  }

  &__copy {
    margin-top: 10px;
    font-size: var(--copy-size-320);
    font-weight: 400;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid #AAAAAA;
    border-radius: var(--rounding-btn-320);
    font-size: 16px;
  }
}
