/* clients */

.clients {
  &__wrapper {
    padding: var(--section-padding-320);
    background: var(--bg-primary);
  }

  &__brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
