/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-bottom: 1px solid #AAAAAA;

  &__wrapper {
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 77px;
    height: 30px;

    img {
      height: 100%;
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__lang {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      width: 9px;
      height: 6px;
      z-index: -1;
    }

    select {
      padding-left: 8px;
      height: 100%;
      width: 100%;
    }
  }

  &__theme {
    height: 26px;
    width: 26px;
  }
}
