/* warranty */

.warranty {
  padding: $main-padding;
}

.warranty__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* .warranty__text {} */

.warranty__title {
  font-size: $title-size;
  font-weight: 700;

}

.warranty__copy:first-of-type {
  margin-top: 20px;
}

.warranty__copy {
  margin-top: 10px;
  font-size: $copy-size;
  font-weight: 400;
}

.warranty__image {
  height: 72vw; 
  border: 1px solid #AAAAAA;
  border-radius: $rounding-image;
  overflow: hidden;
}
